<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
</head>
<body>
    <h1>Sampark page</h1>
  
    <form method="POST" action="/contactprocess">
        {% csrf_token %}
        No1 : <input   width="230px" type="number" min="1" max="100" name="txt1" placeholder="enter no. 1" required autocomplete="off"/>
        
        No2 : <input type="number" min="1" max="100" name="txt2" placeholder="enter no. 2" required autocomplete="off"/>
        <input type="submit"/>
        {% include 'menu.html' %}
    </form>

</body>
</html>
