<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Home page</h1>
    
<p><a href="/home"> Home </a></p>
<p><a href="/about"> About </a></p>
<p><a href="/menu"> Menu </a></p>
<p><a href="/contact"> Contact </a></p>
<p><a href="/hello"> Hello </a></p>
<p><a href="/shop">Shop </a></p>
<p><a href="/marks">MarkSheet </a></p>
<p><a href="/login">Login </a></p>
<p><a href="/dashboard">Dashboard </a></p>
<p><a href="/mailsenddemo">MailDemo </a></p>
<p><a href="/dynamicmail">Manual Mail </a></p>
<p><a href="/addstudent"> Add student</a></p>
<p><a href="/display-student"> Display student</a></p>
</body>
</html>