<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MailSendingDynamically</title>
</head>
<body>
    <h1>Mail Sending Automatically, while input </h1>
    <form method="POST" action="/mailProcess">
        {% csrf_token %}
        To : <input type="text" name="to" placeholder="Kise Bhejna chahte ho?"/><p>
        Subject : <input type="text" name="subject" placeholder="Subject Kya Hai?"/><p>
        Message : <input name="message" placeholder="Message Kya Hai?"><p>
        <input type="submit"/><p>
        {% include 'menu.html' %}
    </form>
</body>
</html>